.container {
  display: flex;
}

.card {
  border: 2px solid black;
  width: 600px;
  height: 300px;
  background-color: rgb(18, 65, 100);
  color: white;
}
.company {
  /* position: absolute;
  left: 300px; */
  margin-left: 300px;
}
.valid {
  display: inline;
  margin-left: 300px;
}

img {
  height: 20%;
  width: 30%;
  margin-left: 300px;
}

input {
  display: block;
  margin: 30px;
  border: 2px solid black;
}
